body
{
    text-align: center;
}

#app {
    background-color: rgb(210, 204, 16);
}

#myCarrossel
{
    background-color: rgb(141, 224, 111);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : rgb(6, 6, 6);
    font-size: 20px;
}